@import url("https://fonts.googleapis.com/css?family=Roboto:900");

.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease 0s;
}

.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
  background-color: lightblue;
}

.carousel__track .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel__track .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.carousel__track .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.carousel__track .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}

.slide1 {
  transition: transform 0.2s;
  transform: translateX(0%) !important;
}

.slide2 {
  transition: transform 0.2s;
  transform: translateX(-100%) !important;
}

.slide3 {
  transition: transform 0.2s;
  transform: translateX(-200%) !important;
}

.slide4 {
  transition: transform 0.2s;
  transform: translateX(-300%) !important;
}

.slide5 {
  transition: transform 0.2s;
  transform: translateX(-400%) !important;
}
