/* for use with react spring */

.btn-temp:first-child {
  position: fixed;
  right: 0;
}

.btn-temp {
  position: fixed;
  right: 100px;
}

.chatscreen {
  background-color: #ece5dd;
  position: absolute;
  /* opacity: 1; */
  top: 0;
  z-index: 1;
}
